<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité - Searchokemon</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Politique de Confidentialité</h1>
    </header>

    <!-- Contenu principal -->
    <div class="container">
        <h2>Introduction</h2>
        <p>Bienvenue sur Searchokemon. Cette politique de confidentialité a pour objectif de vous informer sur la manière
            dont nous collectons, utilisons et protégeons vos données personnelles lorsque vous utilisez notre application.</p>

        <h2>1. Informations collectées</h2>
        <p>Nous collectons des informations personnelles que vous nous fournissez lorsque vous vous connectez à eBay, ainsi
            que des informations sur les images que vous téléchargez pour l’analyse de cartes Pokémon.</p>

        <h2>2. Utilisation des informations</h2>
        <p>Les informations collectées sont utilisées pour l'analyse des cartes Pokémon et pour l'affichage des prix estimés
            à partir des données d'eBay.</p>

        <h2>3. Partage des informations</h2>
        <p>Nous ne partageons vos informations personnelles avec aucun tiers, sauf dans les cas où cela est requis par la loi
            ou pour des raisons de sécurité.</p>

        <h2>4. Sécurité des données</h2>
        <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre l'accès non
            autorisé, la divulgation ou la modification.</p>

        <h2>5. Vos droits</h2>
        <p>Vous avez le droit d'accéder, de rectifier ou de supprimer vos données personnelles. Si vous souhaitez exercer ces
            droits, veuillez nous contacter via notre formulaire de contact.</p>

        <h2>6. Modifications de cette politique</h2>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera
            publiée sur cette page.</p>

        <h2>7. Contact</h2>
        <p>Si vous avez des questions concernant cette politique de confidentialité, n'hésitez pas à nous contacter via notre discord : https://discord.gg/wztuKaWdSZ</p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Searchokemon | <a href="/privacy" class="footer-link">Politique de Confidentialité</a></p>
    </footer>
</body>

</html>
